* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #7f8c8d;
}

.loader {
    color:  #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 64px;
    height: 64px;
}

.loader div {
    transform-origin: 32px 32px;
    animation: load 1.2s  linear infinite;
}


.loader div::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 20%;
}

.loader div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.loader div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1.0s;
}
.loader div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.loader div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.loader div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.loader div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.loader div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.loader div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.loader div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.loader div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.loader div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.loader div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: -0.0s;
}

@keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}