* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #0dc5c1;

}

.loader,
.loader::before,
.loader::after {
    background-color: #ffffff;
    width: 10px;
    height: 40px;
    animation: load 1s ease-in-out infinite;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: -0.16s;
    transform:  translateZ(0);
    color: #ffffff;
}

.loader::before,
.loader::after{
    content: '';
    position: absolute;
    top: 0;
}

.loader::before{
    left: -15px;
    animation-delay: -0.32s;
}
.loader::after{
    left: 15px;
}

@keyframes load{
    0%,80%, 100%{
        height: 40px;
        box-shadow: 0 0;
    }
    40% {
        height: 60px;
        box-shadow: 0 -20px;
    }
}