* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #686de0;
}

.loader,
.loader::before,
.loader::after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: load 1.5s ease-in-out infinite ;
}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%) translateZ(0);
    color: #ffffff;
    animation-delay: -0.16s;
}

.loader::before,
.loader::after {
    position: absolute;
    top: 0;
    content: '';
}

.loader::before {
    left: -56px;
    animation-delay: -0.16s;
}


.loader::after {
    left: 56px;
}

@keyframes load {
    0%, 80%, 100% {
        box-shadow: 0 40px 0 -20px;
    }
    40% {
        box-shadow: 0 40px 0 0;
    }
}