*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #2c2c54;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 64px;
    height: 64px;
}

.loader div {
    transform-origin: 32px 32px;
    animation: load 1.2s cubic-bezier(0.5,0,0.5,1) infinite;
}

.loader div::after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
}

.loader div:nth-cihld(1){
    animation-delay: -0.035s;
}
.loader div:nth-cihld(2){
    animation-delay: -0.070s;
}
.loader div:nth-cihld(3){
    animation-delay: -0.105s;
}
.loader div:nth-cihld(4){
    animation-delay: -0.140s;
}
.loader div:nth-cihld(5){
    animation-delay: -0.175s;
}
.loader div:nth-cihld(6){
    animation-delay: -0.2s;
}
.loader div:nth-cihld(7){
    animation-delay: -0.235s;
}
.loader div:nth-cihld(8){
    animation-delay: -0.270s;
}


.loader div:nth-child(1)::after{
    top: 50px;
    left: 50px;
}
.loader div:nth-child(2)::after{
    top: 54px;
    left: 45px;
}
.loader div:nth-child(3)::after{
    top: 57px;
    left: 39px;
}
.loader div:nth-child(4)::after{
    top: 58px;
    left: 32px;
}
.loader div:nth-child(5)::after{
    top: 57px;
    left: 25px;
}
.loader div:nth-child(6)::after{
    top: 54px;
    left: 19px;
}
.loader div:nth-child(7)::after{
    top: 50px;
    left: 14px;
}
.loader div:nth-child(8)::after{
    top: 45px;
    left: 10px;
}

@keyframes load {
    0% {
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
}