*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #e2ad81;
}

.loader{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}


.loader::after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    margin: 6px;
    border: 30px solid #ffffff;
    border-color: #ffffff transparent #ffffff transparent;
    animation: load 1.2s linear infinite;
}

@keyframes load {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(900deg);
    }   
    100%{
        transform: rotate(1800deg);

    }
}