* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color:  #ea2027;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
    width: 40px;
    height: 40px;
    animation: rotate 2s linear infinite;
}

.dot-1,.dot-2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top:0;
    background-color: #ffffff;
    border-radius: 100%;
    animation: load 2s ease-in-out infinite;
}

.dot-1{
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0%, 100%{
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}