* {
    padding: 0px;
    margin:0px;
}

body {
    background-color: #e15f41;
}

.loader {
    width: 60px;
    height: 60px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bounce-one, .bounce-two {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    animation: bounce 2s ease-in-out infinite;
}
.bounce-two{
    animation-delay:-1s ;
}

@keyframes bounce{
    0%, 100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}