*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #f1c40f;
}

.loader{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

.loader-ring {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 75px;
}

.loader-ring div {
    box-sizing:  border-box;
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    border: 6px solid #ffffff;
    border-radius: 100%;
    border-color: #ffffff transparent transparent transparent;
    animation: spin 1.2s cubic-bezier(0.5, 0,0.5,1) infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
}