* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #9c88ff;
}
.loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.loader{
    width:  100px;
    height: 100px;
    border-top: 3px solid #ffffff;
    border-radius: 100%;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}